{% extends 'AppBundle::layout.html.twig' %}

{% block menu_shows %}active{% endblock %}

{% block contents %}
    <section>
    	<div class="container">
    		<h3>Import OMDB</h3>

    		<form method="post" enctype="multipart/form-data">
    			{{ form_widget(form) }}
    			<div class="form-group">
    				<input type="submit" value="Chercher" class="form-control btn btn-primary" />
    			</div>
    		</form>

            {{ dump(result)}}

            {% for entry in result %}
                <a href="{{ path('import_omdb', {id: entry.imdbID}) }}" class="tvshow col-sm-6">
                    {% if entry.Poster != 'N/A' %}
                        <img class="pull-left" src="{{ image(entry.Poster).resize(100, 100).png }}" />
                    {% endif %}
                    <h4>{{ entry.Title }}</h4>
                    Importer
                </a>
            {% endfor %}

    	</div>
    </section>
{% endblock %}
