{% extends 'AppBundle::layout.html.twig' %}

{% block menu_calendar %}active{% endblock %}

{% block contents %}
    <section>
    	<div class="container">
			{% for episode in episodes %}
				{{ episode.season.show.name }} - S{{ episode.season.number }} E{{ episode.number }} - {{ episode }} - {{episode.date |date("m/d/Y", "Europe/Paris") }}
				<br />
			{% endfor %}
		</div>
    </section>
{% endblock %}