{% extends 'AppBundle::layout.html.twig' %}

{% block menu_shows %}active{% endblock %}

{% block contents %}
    <section>
        <div class="container">
            <div class="col-xs-2">
                
                <img class="pull-left" src="{{ web_image('uploads/'~show.image).resize(100, 100).png }}" />
            </div>
            <div class="col-xs-10">
            <h3>{{ show }}</h3>
                {{ show.synopsis }}
                {% for season in show.seasons %}
                    <h4>Saison {{ season }}</h4>
                    {% for episode in season.episodes %}
                        {{ episode.number }} - {{ episode }} - {{episode.date |date("m/d/Y", "Europe/Paris") }}
                        {% if app.user %}
                            <a href="{{ path('admin_delete_episode', {id: episode.id}) }}" class="alert-danger">Supprimer</a>
                        {% endif %}
                        <br />
                    {% endfor %}
                    {% if app.user %}
                        <a class="alert-success" href="{{ path('admin_add_episode', {id: season.id}) }}">Ajouter un épisode</a>
                        <a href="{{ path('admin_delete_season', {id: season.id}) }}" class="alert-danger">Supprimer la saison</a>
                    {% endif %}
                {% else %}
                <div class="alert alert-danger">
                    Aucune saison pour cette série
                </div>
                {% endfor %}
                {% if app.user %}
                <p>
                    <a class="alert-success" href="{{ path('admin_add_season', {id: show.id}) }}">Ajouter une saison</a>
                </p>
                {% endif %}
        </div>
        </div>
    </section>
{% endblock %}
